@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$mainColor: #393E46;
$secondaryColor: #222831;
$keyColor: #F1F6F9;
$keyColor20: #F1F6F920;
$mainFont: 'Open sans', 'sans-serif';
$fontL: 2em;
$fontM: 1.5em;
$fontS: .5em;
#parche{
  margin-top: 15%;
}
@media screen and (min-width: 600px) {
    .hecon {
      margin-top: 2em;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 1em;
      margin-bottom: 2em;
    }
    .hecon2 {
      font-size: 1em;
      justify-content: center;
      text-align: center;
      margin-top: 1em;
    }
    .contact{  
      background-color: white;
      width: 28em; 
      height: auto;
      margin: 5em auto;
      border-radius: 10px; 
      border: #393E46 solid; 
      padding-top: 3em;
      padding-bottom: 1.5em;  
      padding-left: 1.5em; 
      padding-right: 1.5em;
      -moz-box-shadow: 0px 4px 40px 4px rgba(0,0,0,0.54);
      box-shadow: 0px 4px 40px 4px rgba(0,0,0,0.30);
    }
    .enva {
      border-color: #393E4620;
      transition: all .5s ease;
      background-color: #393E4650;
      color: #393E46;
    }
    .enva:hover {
        border: #222831 solid;
        color: white;
        background-color: #393E46;
        -webkit-box-shadow: 0px 4px 40px 4px rgba(0,0,0,0.54);
      -moz-box-shadow: 0px 4px 40px 4px rgba(0,0,0,0.54);
      box-shadow: 0px 4px 40px 4px rgba(0,0,0,0.40);
    }
    .formulario {
      justify-content: center;
      align-content: center;
      text-align: center;
    }
    
    input{
      background-color:#393E4690; 
      width: 408px; 
      height: 40px; 
      border-radius: 5px;  
      border: #393E46 1px;  
      border-width: 1px; 
      margin-top: 10px;  
      padding-left: 10px;
      margin-bottom: 20px; 
      color: white;
    }
    textarea{
      color: white;
      background-color: #393E4690; 
      width: 405px; 
      height: 150px; 
      border-radius: 5px;  
      border-style: solid; 
      border: #393E46 1px;  
      margin-top: 10px;  
      padding-left: 10px;
      margin-bottom: 20px; 
      padding-top: 15px; 
    }
    label{
      display: block; 
      float: center;  
    }
    button{
      padding-left: 5px;
      padding-right: 5px; 
      padding-bottom: 2px;  
      margin-bottom: 2px; 
      margin-top: 1px;   
      text-transform: uppercase;
      background-color: #393E46; 
      border: #393E46 solid; 
      border-radius: 10px;  
      width: 420px;   
      cursor: pointer;
    }
    button p{
      color: #fff; 
    }
    span{
      color:#393E46; 
    }
    
    .frm {
      background-color: #393E4650;
    }
    .aviso{
      font-size: 13px;  
      color: #0e0e0e; 
    }
    ::-webkit-input-placeholder {
     color: white
    }
    ::-webkit-textarea-placeholder {
     color: #393E4630;
     background-color: #393E4610;
    }
    .formulario input:focus{
      outline:0;
      border: 1px solid #393E46;
    }
    .formulario textarea:focus{
      outline:0;
      border: 1px solid #393E46;
    }
    }
    @media screen and (max-width: 600px) {
      #conten {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      #nave {
       position: fixed;
       top: 0;
       left: 0;
       font-size: .8em;
      }
      #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 5px;
        width: auto;
        height: auto;
      }
      #pie {
        display: flex;
        flex-direction: column;
        background-color:#222831;
        width: auto;
      }
      .hecon {
        margin-top: 3em;
        display: flex;
        justify-content: center;
        text-align: center;
      }
      .hecon2 {
        display: flex;
        justify-content: center;
        text-align: center;
        align-content: center;
      }
      .contact {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: white;
        border-radius: 10px; 
        border: #393E46 solid; 
        margin-top: 1em;
        padding: 5%;
        -moz-box-shadow: 0px 4px 40px 4px rgba(0,0,0,0.54);
        box-shadow: 0px 4px 40px 4px rgba(0,0,0,0.30);    
      }
      .formulario{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
      }
      .enva {
        border-color: #393E4620;
        transition: all .5s ease;
        background-color: #393E4650;
        color: #393E46;
      }
      .enva:hover {
          border: #222831 solid;
          color: white;
          background-color: #393E46;
          -webkit-box-shadow: 0px 4px 40px 4px rgba(0,0,0,0.54);
        -moz-box-shadow: 0px 4px 40px 4px rgba(0,0,0,0.54);
        box-shadow: 0px 4px 40px 4px rgba(0,0,0,0.40);
      }
      form {
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 10%;
      }
      .fut {
        flex-wrap: wrap;
      }
      input {
        margin: 10% 0 0 0;
      }
      textarea {
        margin-top: 10%;
        margin-bottom: 10%;
      }
    }