@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$mainColor: #393E46;
$secondaryColor: #222831;
$keyColor: #F1F6F9;
$mainFont: 'Open sans', 'sans-serif';
$a: #b2d8d8;
$b: #66b2b2;
$c: #008080;
$d: #006666;
$e: #004c4c;

@media screen and (min-width:600px) {
.bodDN{
    background-color: $secondaryColor;
    color: $keyColor;
    margin: 0%;
}
.tit-dn{
    text-align: start;
    padding: 5% 10%;
    border-bottom: $keyColor solid 2px;
}
.text-dn{
    text-align: start;
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
}
.art-text-dn{
    padding: 2% 5%;
}
.boxes-dn{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    gap: 2%;
    padding: 15% 0;
}

.steps-dn{
  background-color: $mainColor;
  text-align: start;
  display: flex;
  justify-content: start;
  width: 100%;
}
.list-steps-dn{
  display: flex;
  flex-direction: column;
  padding: 0% 15%;
  border-right: $keyColor solid 2px;
}
.list-steps-dn li{
  margin: 5% 0;
}
.detalle-dn-st{
  display: flex;
  flex-direction: column;

}
.detalle-dn{
  text-align: start;
  padding: 2% 10%;
  border-bottom: $keyColor solid 1px;
}
.detalle-dn h3{
  text-decoration: underline solid 2px $c;
}
.final-dn{
  color: $keyColor;
}
}


