$mainColor: #393E46;
$secondaryColor: #222831;
$BG: #56687a;
$block: #9db3c8;
$keyColor: #F1F6F9;
$keyColor20: #F1F6F920;
$mainFont: 'Open sans', 'sans-serif';
$fontL: 2em;
$fontM: 1.5em;
$fontS: 1em;

@media screen and (min-width:600px){
.header-home{
    text-align: center;
    color: $mainColor;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-home{
    display: flex;
    justify-content: center;
  }
.imag-head{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.sec1 {
  margin-top: 5%;
  color: $mainColor;
  margin-bottom: 10%;
}
.aside-hm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5em;
  width: 100%;
}
.art-hm{
  width: 80%;
  color: $keyColor;
  background-color: $secondaryColor;
  border-top: $mainColor solid 10px;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10%;
  margin-top: 2%;
  font-size: $fontS;
}
.art-hm:from{
 border-top: $mainColor solid 10px
}
.art-hm:to{
  border-bottom: $mainColor solid 10px;
}

.mgb4{
  @extend .art-hm;
}
.mckpimg-home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
}
.mockup{
  width: 100%;
}
}
@media screen and (max-width:600px) {
  .main-home{
    width: 100%;
    color: $mainColor;
  }
  .mockup{
    width: 100%;
  }
  .sec1 {
    padding: 5%;
    font-size: .8em;
    margin-top: 10%;
    color: $mainColor;
  }
  .aside-hm{
    padding: 4%;
    margin-top: 10%;

  }
  .art-hm{
    margin-top: 5%;
    color: $keyColor;
    background-color: $secondaryColor;
    border-top: $mainColor solid 10px;
    border-radius: 5px;
    padding: 5%;
    text-align:start;
  }
  .mgb4{
    margin-top: 5%;
    color: $keyColor;
    background-color: $secondaryColor;
    border-top: $mainColor solid 10px;
    padding: 5%;
    text-align:start;
  }
  #parche2{
    max-width: 375px;
  }
}
