$mainColor: #393E46;
$secondaryColor: #222831;
$keyColor: #F1F6F9;
$keyColor20: #F1F6F920;
$boxBG: #56687a;
$mainFont: 'Open sans', 'sans-serif';
$fontL: 2em;
$fontM: 1.5em;
$fontS: 1em;

.head-nt{
    margin: 5% 8% 15% 8%;
    padding: 12%;
    color: #393E46;
}
#parch{
    background-color: $keyColor;
}
@media screen and (min-width:600px) {
.mobi-car-nT{
    display: block;
}
.box-nt{
    background-color: $secondaryColor;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: 1%;
}
.left-nt{
    color: $keyColor;
    padding: 5%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: $secondaryColor 5px solid;
}
.right-nt {
@extend .left-nt;
width: 100%;
text-align: start;
background-color: $mainColor;

}
.tit-mob-nt{
    display: none;
}
.margins-nt{
    margin-top: 15%;
}
.img-mob-o{
    display: none;
}
.art-omob{
    display: none;
}

}
@media screen and (max-width:600px) {
.head-nt{
    margin: 25% 5% 25% 5%;
    padding: 2%;
}
.box-nt{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $secondaryColor;
    margin: 1% 0% 0% 0%;
    color: $keyColor;
    gap: 1%;
    padding: 8%;
}
.left-nt{
    display: none;
}
.right-nt{
    display: inline;
    font-size: $fontS;
    text-align: start;
}
.margins-nt{
    margin-top: 15%;

}
.mobi-car-nT{
    display: none;
}
.art-omob{
    display: flex;
    flex-direction: column;
    color: $keyColor;
    background-color: $secondaryColor;
}
.img-mob-o{
    width: 100%;
}
.footer{
    padding-bottom: 5%;
}
}

