$mainColor: #393E46;
$secondaryColor: #222831;
$keyColor: #F1F6F9;
$keyColor20: #F1F6F920;
$mainFont: 'Open sans', 'sans-serif';
$fontL: 2em;
$fontM: 1.5em;
$fontS: .5em;

.head-nt{
    margin: 5% 8% 15% 8%;
    padding: 12%;
    color: #393E46;
}
.aaaa{
    margin: 10em 0;
}
.marg-nt{
    margin-top: 10em;
}
#parch{
    background-color: $keyColor;
}