$mainColor: #393E46;
$secondaryColor: #222831;
$keyColor: #F1F6F9;
$keyColor20: #F1F6F920;
$mainFont: 'Open sans', 'sans-serif';
$fontL: 2em;
$fontM: 1.5em;
$fontS: .5em;
body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif

}
.main-qs{
    width: 100;
    margin-top: 5em;
}
.header-qs{
@extend .main-qs;
color: $mainColor;
margin-bottom: 15%;
padding: 10%;
    h2{
    font-size: 2em;
}
}

.aside-qS{
    padding: 0% 15%;
    text-align: center;
    color: $mainColor;
    margin: 5% 0% 20% 0%;
    a{
    color: $secondaryColor;
    text-decoration: none;
    background-color: #22283110;}
    a:hover{
    cursor: pointer;
    text-decoration: underline;
}
}
.cards-qs{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    margin: 2%;
    width: 40%;
    height: 60%;
    border: $mainColor solid 20px;
}
.art-nt-img{
    width: 100%;
    height: 100%;
    max-height: 20em;
    margin-bottom: -2%;
}
.art-tit{
    font-size: $fontM;
    background-color: #222831;
    color: $keyColor;
    padding: 4%;
    border-bottom: solid 2px $keyColor;

}
.art-text{
    background-color: $secondaryColor;
    color: $keyColor;
    height: 8em;
    max-height: 8em;
    padding: 10%;
    font-size: 1em;
    a{
    text-decoration: none;
    color: $secondaryColor;
    a:hover{
    cursor: pointer;
    text-decoration: underline;
}
}
}