@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$mainColor: #393E46;
$secondaryColor: #222831;
$keyColor: #F1F6F9;
$mainFont: 'Open sans', 'sans-serif';
$a: #b2d8d8;
$b: #66b2b2;
$c: #008080;
$d: #006666;
$e: #004c4c;
@media screen and (min-width:600px) {
  .sec-serv1{
    border-bottom: $secondaryColor solid 30px;
  }
.mainbg{
  background-color: $mainColor;
  height: 100%;
}
.logoimg-home{
  box-sizing: content-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.logohm{
  width: 30em;
}
.cuadros-serv{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  margin: 0%;
  padding-top: 10%;
}
/*animaciones*/
.box{
  text-align: center;
  width: 45%;
  color: $keyColor;
  animation: anim 1s linear 0s infinite normal forwards;
  animation-play-state: paused;
}
.box2{
  @extend .box;
  margin-bottom: 4%;
}
@keyframes anim {
  0%{
    border-top:$a solid 5px;
    border-right:$b solid 5px;
    border-bottom:$c solid 5px;
    border-left:$d solid 5px;
  }
  25%{
    border-top:$d solid 5px;
    border-right:$a solid 5px;
    border-bottom:$b solid 5px;
    border-left:$c solid 5px;
  }
  50%{
    border-top:$c solid 5px;
    border-right:$d solid 5px;
    border-bottom:$a solid 5px;
    border-left:$b solid 5px;
  }
  75%{
    border-top:$b solid 5px;
    border-right:$c solid 5px;
    border-bottom:$d solid 5px;
    border-left:$a solid 5px;
  }
  100%{
    border-top:$a solid 5px;
    border-right:$b solid 5px;
    border-bottom:$c solid 5px;
    border-left:$d solid 5px;
  }
}
.box:hover{
  animation-play-state: running;
}
/*animaciones*/
.tit-serv{
  background-color: $secondaryColor;
  color: $keyColor;
  padding: 10%;
  text-align: start;
  border-bottom: 2px solid $mainColor;
}
.off-ser{
  display: flex;
  flex-direction: column;
  background-color: $secondaryColor;
  color: $keyColor;
  padding: 10%;
  text-align: start;
  overflow: hidden;
}
.h1-serv{
  margin-top: 10%;
  color: $mainColor;
  text-align: center;
}
.smas{
  text-align: center;
  width: 4em;
  border-radius: 5px;
  background-color: #393E46;
  width: 10em;
  transition: all 1 ease;
  color: $keyColor;
  text-decoration: none;
}
.smas:hover{
  background-color: $keyColor;
  color: $secondaryColor;
}
.acla{
  padding: 10% 0%;
  color: $keyColor;
  text-align: start;
}
}
@media screen and (max-width:600px){
.h1-serv{
padding: 15%;
color: $mainColor;
margin: 10% 0% -25% 0%;
font-size: 1.2em;
}
.box{
 background-color: $secondaryColor;
 margin: 3%;
 border-radius: 15px;
 animation: anim 1s linear 0s infinite normal forwards;
 
}
.cuadros-serv{
  border-top: $secondaryColor solid 25px;
  background-color: $mainColor;
  padding: 5%;
}
.tit-serv{
  border-bottom: $mainColor solid 4px;
  color: $keyColor;
  padding: 10%;
  text-align: start;
}
.off-ser{
  color: $keyColor;
  padding: 10%;
  text-align: start;
}
.smas{
  padding: 2%;
  width: 4em;
  height: 2em;
  background-color: $mainColor;
  color: $keyColor;
  border-radius: 5px;
  text-decoration: none;
}
.acla{
  font-size: 1em;
  color: $keyColor;
  text-align: start;
  padding: 15%;
}


}