@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$mainColor: #393E46;
$secondaryColor: #222831;
$keyColor: #F1F6F9;
$mainFont: 'Open sans', 'sans-serif';
$colores: (
    "a": #F7EC09,
    "b": #3EC70B,
    "c": #A149FA,
);

@media screen and (min-width:600px) {
    .logoimg-home{
        box-sizing: content-box;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
      .logohm{
        width: 30em;
      }
}
@media screen and (max-width:600px){

}